@{
    ViewBag.Title = "Sobre";
}

    <body background="~/Content/Images/restaurant_icons.png">
        <h2>@ViewBag.Title.</h2>
        <h3>Descrição do aplicação</h3>

        <p>MySales é um software para gerencimanento de pedidos para pequenos estabelecimentos que desejam gravar ter registro de suas vendas.</p>
    </body>