@{
    ViewBag.Title = "Contato";
}
<h2>@ViewBag.Title.</h2>


<body background="~/Content/Images/restaurant_icons.png">
    <address>
        <strong>E-mail para contato</strong>   <a href="mailto:andreluis2006@outlook.com">andreluis2006@outlook.com</a><br />
    </address>
</body>