@{
    ViewBag.Title = "Home Page";
}

    <body background="~/Content/Images/restaurant_icons.png">
        <div class="jumbotron">

        </div>

        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
        </div>
    </body>